{% load static %}
<!-- FOOTER TOP SECTION START -->
<div class="footer-top-section section pt-100 pb-60">
        <div class="container">
            <div class="row">
               
                <!-- Footer Widget -->
                <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-40">
                    <h5 class="widget-title">ABOUT THE FOSSICKPOINT</h5>
                    <p>Ask the questions that lead to your purpose and wellbeing. Gain insight and understanding. Challenge your thinking and find inspiration. </p>
                </div>
                
                <!-- Footer Widget -->
                <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
                    <h5 class="widget-title">CUSTOMER SERVICE</h5>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Book video meeting</a></li>
                        <li><a href="#">Communicate with others</a></li>
                        <li><a href="#">plans</a></li>
                    </ul>
                </div>
                
                <!-- Footer Widget -->
                <div class="footer-widget col-md-2 col-sm-6 col-xs-12 mb-40">
                    <h5 class="widget-title">PROFILE</h5>
                    <ul>
                        <li><a href="#">my Account</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">help</a></li>
                        <li><a href="#">support</a></li>
                    </ul>
                </div>
                
                <!-- Footer Widget -->
                <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
                    <h5 class="widget-title">SIGN UP FOR OUR AWESOME NEWS</h5>
                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="sunscribe-form validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL" class="hidden">Subscribe to our mailing list</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                    <div class="footer-social fix">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- FOOTER TOP SECTION END -->  
    
    <!-- FOOTER BOTTOM SECTION START -->
    <div class="footer-bottom-section section">
        <div class="container">
            <div class="row">
                <!-- Copyright -->
                <div class="copyright text-left col-sm-6 col-xs-12">
                    <p>Powered by <a href="https://hastech.company/">HasTech</a></p>
                </div>
                <!-- Payment Method -->
                <div class="footer-menu text-right col-sm-6 col-xs-12">
                    <a href="#">Help & Support</a>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER BOTTOM SECTION END -->  
       
    
    </div>
    <!-- Body main wrapper end -->
    
    
    <!-- Placed JS at the end of the document so the pages load faster -->
    

    <!-- Bootstrap js -->
    <script src="{% static 'toolbox_user/js/bootstrap.min.js'%}"></script>
    <!-- Plugins js -->
    <script src="{% static 'toolbox_user/js/plugins.js'%}"></script>
    <!-- Ajax Mail js -->
    <script src="{% static 'toolbox_user/js/ajax-mail.js'%}"></script>
    <!-- Main js -->
    <script src="{% static 'toolbox_user/js/main.js'%}"></script>
    
    </body>
    
    </html>