{% extends 'toolbox/_base.html' %} {% load static %} {% block csslink %} {% endblock %} {% block title %} Program {% endblock %} {% block pagetitle %} Program {% endblock %} {% block main %}
<!-- <script src="{% static 'toolbox/js/jquery.sortable.js' %}"></script> -->
<script src="//cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="{% static 'toolbox/js/program.js' %}"></script>

<div class="row-content am-cf">
    <div class="row am-cf">
        <!-- program box -->
        <div class="am-u-sm-12 am-u-md-4 am-u-lg-6">
            <form>
                <div class="widget am-cf">
                    <div>
                        <p>Program information</p>
                        <span class="am-btn-group am-btn-group-xs am-fr" style="padding-left:40px">
                            <button type="button" class="am-btn am-btn-danger" style="margin-right:10px" onclick="updateProgramDetails()">Update</button>
                        </span>
                    </div>
                    <div class="widget-head am-cf">
                        <table style="border-spacing: 10px 15px;border-collapse: separate;">
                            <tr>
                                <td>
                                    Program name&nbsp:&nbsp&nbsp
                                </td>
                                <td>
                                    <div class="widget-title am-fl">
                                        <div type="text" name="programId">
                                            <input type="text" value="{{programName}}" id="programId">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Description&nbsp:&nbsp&nbsp
                                </td>
                                <td>
                                    <div class="widget-title am-fl">
                                        <textarea id="programDiscription" name="programDiscription" cols="40" rows="3">{{programDiscription}}</textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="widget-body am-fr" id="programDiv">
                        <ol id="programList" class="am-list-static am-list-striped" style="height: 500px;list-style-type:none">
                            <!-- <li>1</li> -->
                            {% if program %} {% for content in program %}
                            <li id="{{content.id}}" style="margin-top:10px">
                                <div class="row">
                                    <img src="{% static content.thumbnail %}" style="width:75px; height:75px">
                                    <a href="{% url 'content' contentID=content.id %}">{{content.name}}</a>
                                    <span class=" am-btn-group-xs">
                                        <button class="deleteContent  am-btn am-btn-danger" style="margin-left:60%" name="{{content.id}}"
                                            onclick="deleteContent({{content.id}})" type="button">
                                            <i class="am-icon-trash"></i>delete</button>
                                    </span>
                                </div>
                            </li>

                            {% endfor %} {% endif %}
                        </ol>
                    </div>
                </div>
            </form>
        </div>
        <!-- content box -->
        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">Content list</div>
                </div>
                <div class="widget-body  am-fr">
                    <form id="searchForm">
                        <div class="am-u-sm-12 am-u-md-2 am-u-lg-6">
                                <div class="am-form-group">
                                    <select data-am-selected="{btnSize: 'sm', btnWidth: '100%'}" name="levelSearch">
                                        <option value="0" selected>All Levels</option>
                                        <option value="1">Free contents</option>
                                        <option value="2">limited contents</option>
                                        <option value="3">personalized contents</option>
                                    </select>
                                </div>
                            </div>
                        <div class="am-u-sm-12 am-u-md-2 am-u-lg-5">
                            <div class="am-form-group">
                                <select data-am-selected="{btnSize: 'sm', btnWidth: '100%'}" name="focusSearch">
                                    <option value="All Focuses">All Focuses</option>
                                    <option value="Emotional Intelligence">Emotional Intelligence</option>
                                    <option value="Social Intelligence">Social Intelligence</option>
                                    <option value="Self Actualization">Self Actualization</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-2 am-u-lg-6">
                            <div class="am-form-group tpl-table-list-select">
                                <select multiple data-am-selected="{btnSize: 'sm', btnWidth: '100%'}" name="profileSearch">
                                    <optgroup label="All">
                                        <option value="All profiles" selected>All profiles</option>
                                    </optgroup>
                                    <optgroup label="B.Dominance">
                                        <option value="FL">FL</option>
                                        <option value="FR">FR</option>
                                        <option value="BL">BL</option>
                                        <option value="BR">BR</option>
                                    </optgroup>
                                    <optgroup label="Temperament">
                                        <option value="Think">Think</option>
                                        <option value="Feel">Feel</option>
                                        <option value="Act">Act</option>
                                    </optgroup>
                                    <optgroup label="Arosual">
                                        <option value="Introvert">Introvert</option>
                                        <option value="Extrovert">Extrovert</option>
                                        <option value="Introvert/extrovert">Introvert/extrovert</option>
                                    </optgroup>
                                    <optgroup label="Stimuli">
                                        <option value="HSP">HSP</option>
                                        <option value="HSS">HSS</option>
                                    </optgroup>

                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-2 am-u-lg-5">
                            <div class="am-form-group tpl-table-list-select">
                                <select data-am-selected="{btnSize: 'sm', btnWidth: '100%'}" name="tagSearch">
                                    <option value="All tags" selected>All tags</option>
                                    <option value="images">Images</option>
                                    <option value="formulas">Formulas</option>
                                    <option value="activities">Activities</option>
                                    <option value="skills">Skills</option>
                                    <option value="socialFrameworks">Social frameworks</option>
                                    <option value="concepts">Concepts</option>
                                    <option value="myths">Myths & notions</option>
                                    <option value=principles>Principles</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-1">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-danger tpl-table-list-field am-icon-search"></button>
                                </span>

                            </div>

                        </div>
                    </form>
                </div>

                <div style="margin-top:40px;" id="contentDiv">
                    <ol id="contentList" class="am-list-static am-list-striped" style="height: 500px;">
                        {% if contentList %}
                       <!--<li id="{{content.id}}">{{content.name}}( {{content.focus}}/ {{content.profileText}}/ {{content.tag}}) <span style="float:right" class="am-btn-group am-btn-group-xs am-fr"><button class="deleteContent am-btn am-btn-danger" name="{{content.id}}" onclick="addContent({{content.id}})"><i class="am-icon-plus"></i>add</button></span></li>-->
                        <div class="am-g">
                            {% for content in contentList %}
                            <div class="am-u-lg-4" style="text-align:center; margin-bottom:5px; float:left">
                                <img src="{% static content.thumbnail %}" style="width:150px; height:150px">
                                <br>
                                <a href="{% url 'content' contentID=content.id %}" style="text-align:center">{{content.name}}</a>
                                <br>
                                <span class=" am-btn-group-xs">
                                    <button class="deleteContent am-btn am-btn-danger" name="{{content.id}}" onclick="addContent({{content.id}})">
                                        <i class="am-icon-plus"></i>add</button>
                                </span>
                            </div>
                            {% endfor %}
                        </div>

                        {% endif %}
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}